.container-cube {
	position: relative;
	margin: 0 auto;
	width: 600px;
	height: 600px;
	@include media ('<tablet') {
		width: 350px;
		height: 350px;
	}
	@include media ('<phone') {
		width: 300px;
		height: 300px;
	}
}

.cube-holder{
	padding: 50px 0;
}

.arrow {
	border: 0;
	outline: 0;
	position: absolute;
	background: $red;
	transition: all 1s;
	font-size: 40px;
	@include media ('<tablet') {
		font-size: 25px;
	}
	i{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.arrow:hover {
	opacity: 0.5;
}

.a-top {
	top: -50px;
	height: 50px;
	width: 100px;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 50px 50px 0 0;
	@include media ('<phone') {
		height: 30px;
		width: 60px;
		top: -5px;
	}
	&:hover ~ .cube {
		transform: translate(-50%, -50%) perspective(800px) rotate3d(180, -45, 0, -105deg);
		@include media ('<phone') {
			transform: translate(-60%, -100%) perspective(800px) rotate3d(180, -30, 0, -90deg);
		}
	}
}

.a-left {
	left: -50px;
	width: 50px;
	top: 50%;
	transform: translate(0, -50%);
	height: 100px;
	border-radius: 50px 0 0 50px;
	@include media ('<phone') {
		width: 30px;
		height: 60px;
		left: -5px;
	}
	&:hover ~ .cube {
		transform: translate(-50%, -50%) perspective(800px) rotate3d(55, 180, 0, -339deg);
		@include media ('<phone') {
			transform: translate(-70%, -45%) perspective(800px) rotate3d(55, 180, 0, 15deg);
		}
	}
}

.a-right {
	height: 100px;
	right: -50px;
	width: 50px;
	border-radius: 0 50px 50px 0;
	top: 50%;
	transform: translate(0, -50%);
	@include media ('<phone') {
		height: 60px;
		width: 30px;
		right: -5px;
	}
	&:hover ~ .cube {
		transform: translate(-50%, -50%) perspective(800px) rotate3d(-45, -180, 0, 105deg);
		@include media ('<tablet') {
			transform: translate(-30%, -50%) perspective(800px) rotate3d(-45, -180, 0, 105deg);
		}
		@include media ('<phone') {
			transform: translate(0%, -75%) perspective(800px) rotate3d(-45, -180, 0, 105deg);
		}
	}
}

.cube {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	transition: all 1s;
	transform-style: preserve-3d;
	transform-origin: 50% 50%;
	transform: translate(-50%, -50%) perspective(800px) rotate3d(1, 1, 0, -50deg);
	@include media ('<tablet') {
		width: 150px;
		height: 150px;
	}
	@include media ('<phone') {
		height: 100px;
		width: 100px;
		transform: translate(-25%, -75%) perspective(800px) rotate3d(1, 1, 0, -45deg);
	}
	.img-holder{
		width: 160px;
		height: 160px;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 auto 10px;
		display: block;
		@include media ('<tablet') {
			display: none;
		}
	}
	.link{
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		padding: 10px;
		overflow: hidden;
		color: $black;
		&:hover{
			.glitch{
				&:before {
					animation: glitch-medium .5s cubic-bezier(.25, .46, .45, .94) both infinite
				}
				&:after {
					animation: glitch-medium .5s cubic-bezier(.25, .46, .45, .94) reverse both infinite
				}
			}
		}
		strong{
			display: block;
			text-transform: capitalize;
			font-family: $secondary-font;
			font-size: 42px;
			@include media ('<tablet') {
				font-size: 30px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			@include media ('<phone') {
				font-size: 20px;
			}
		}
	}
	.face {
		transition: all 1s;
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.3), inset -30px -30px 80px rgba(0, 0, 0, 0.3);
		&.n1 {
			top: 0;
			left: 0;
			background-color: #d00;
			opacity: 0.9;
			transform: translate3d(0, 0, 100px);
		}
		&.n2 {
			top: 0;
			left: 100%;
			background-color: #dd0;
			opacity: 0.9;
			transform-origin: 0 0;
			transform: translate3d(0, 0, 100px) rotate3d(0, 1, 0, 90deg);
		}
		&.n3 {
			top: 100%;
			left: 0;
			background-color: #999;
			opacity: 0.9;
			transform-origin: 0 0;
			transform: translate3d(0, 0, 100px) rotate3d(1, 0, 0, -90deg);
		}
		&.n4 {
			top: 0;
			right: 100%;
			background-color: #04d;
			opacity: 0.9;
			transform-origin: 100% 0;
			transform: translate3d(0, 0, 100px) rotate3d(0, 1, 0, -90deg);
		}
		&.n5 {
			bottom: 100%;
			left: 0;
			background-color: #0dd;
			opacity: 0.9;
			transform-origin: 0 100%;
			transform: translate3d(0, 0, 100px) rotate3d(1, 0, 0, 90deg);
		}
		&.n6 {
			top: 0;
			left: 0;
			background-color: #6a0;
			opacity: 0.9;
			transform-origin: 0 50%;
			transform: translate3d(0, 0, -200px) rotate3d(1, 0, 0, 180deg);
			@include media ('<tablet') {
				transform: translate3d(0, 0, -50px) rotate3d(1, 0, 0, 180deg);
			}
			@include media ('<phone') {
				transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 180deg);
			}
		}
	}
}

.glitch {
	transform: translate(0, 0);
	position: relative;
	&:before,
	&:after{
		content:attr(data-title);
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: .8;
	}
	&:after {
		color: #f0f;
		z-index: -2;
	}
	&:before {
		color: #0ff;
		z-index: -1;
	}
}

@keyframes glitch-medium {
		0% {
				transform: translate(0)
		}
		20% {
				transform: translate(-2px, 2px)
		}
		40% {
				transform: translate(-2px, -2px)
		}
		60% {
				transform: translate(2px, 2px)
		}
		80% {
				transform: translate(2px, -2px)
		}
		to {
				transform: translate(0)
		}
}