// example usage: @include cuboid(100, 100, 50px);

@mixin cuboid ($depth: 70px, $width: auto, $height: auto) {
	@if $width != auto {width: $width;}
	@if $height != auto {height: $height;}
	position: relative;

	.face {
		height: 100%;
		width: 100%;
		position: absolute;
		box-shadow: 0 0 0 1px rgba(200, 200, 200, 0.2);
	}

	.front {
		top: 0;
		left: 0;
		z-index: 2;
		@if $width == auto {position: relative;}
	}

	.back {
		top: 0;
		left: 0;
		transform: translateZ(-($depth));
		pointer-events:none;
		transition: transform 0.3s;
	}

	.top {
		height: $depth;
		top: 0;
		left: 0;
		transform: translateZ(-($depth/2)) translateY(-($depth/2)) rotateX(90deg);
		pointer-events:none;
	}

	.bottom {
		height: $depth;
		top: auto;
		bottom: 0;
		left: 0;
		transform: translateZ(-($depth/2)) translateY($depth/2) rotateX(90deg);
		pointer-events:none;
	}

	.left {
		width: $depth;
		top: 0;
		left: 0;
		transform: translateZ(-($depth/2)) rotateY(90deg) translateZ(-($depth/2));
		pointer-events:none;
		transition: all 0.3s;
	}

	.right {
		width: $depth;
		top: 0;
		left: auto;
		right: 0;
		transform: translateZ(-($depth/2)) rotateY(90deg) translateZ($depth/2);
		pointer-events:none;
		transition: all 0.3s;
	}
}

/// Mixin for styling form-placeholders
/// @example scss - Usage
///   @include placeholder {
///    color: #333;
///   }
///
///   input[type='text'],
///   input[type='tel'],
///   input[type='email'] {
///     @include placeholder {
///      color: red;
///     }
///   }

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &::-moz-placeholder {opacity: 1; @content}
  &:-moz-placeholder {@content}
  &:-ms-input-placeholder {@content}
  &.placeholder {@content}
}

