$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';

@import 'components/cube';
@import 'components/main-nav';
@import 'components/single-task';

#wrapper{
	position: relative;
	overflow: hidden;
	background: #f0f4f7;
}

#main{
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.col{
	float: left;
	width: 33.33%;
	padding: 0 30px;
	@include media ('<desktop') {
		padding: 0 15px;
	}
	@include media ('<tablet') {
		width: 100%;
	}
}

.box{
	@include cuboid(200px);
	transform-style: preserve-3d;
	background: rgba(255, 255, 255, 0.5);
	margin-bottom: 60px;
	box-shadow: 0 0 20px 10px rgba(200, 200, 200, 0.6);
	position: relative;
	transition: perspective 1s;
	&:hover{
		@include cuboid(50px);
	}
	@include media ('<desktop') {
		margin-bottom: 30px;
	}
	.face {
		box-shadow: 0 0 0 1px rgba(200, 200, 200, 0.8);
		overflow: hidden;
	}
	.back{
		background-color: rgba(204, 221, 230, 0.5);
	}
	.link{
		padding: 10px;
		display: block;
		&:hover{
			.options-holder{
				transform: none;
			}
		}
	}
	.title{
		font-weight: bold;
		text-transform: capitalize;
		display: block;
		margin-bottom: 10px;
	}
	.img-holder{
		display: block;
		border: 1px solid rgba(40, 40, 40, 0.8);
	}
	.options-holder{
		background: rgba(0, 0, 0, 0.7);
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		transition: transform 0.3s;
		transform: translate(0, 160%);
	}
	ul{
		@extend %listreset;
		padding: 10px 20px;
		font-size: 14px;
		line-height: 1;
		@include media ('<desktop') {
			font-size: 12px;
		}
		li{
			color: $white;
			margin-bottom: 5px;
			position: relative;
			padding-left: 20px;
			i{
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	.description{
		color: $white;
		padding: 20px;
		display: block;
		@include media ('<desktop') {
			font-size: 14px;
		}
	}
	.more{
		display: block;
		padding: 10px 0 0;
		color: rgb(230, 150, 150);
	}
}

.row{
	@extend %clearfix;
	margin: 0 -15px;
}

.scene *{
	transform-style: preserve-3d;
}

#header{
	transform-style: preserve-3d;
	position: relative;
	margin-bottom: 30px;
	&:before{
		content:'';
		position: absolute;
		left: -9999px;
		top: -9999px;
		bottom: 0;
		right: -9999px;
		background: #202020;
		transform: translate3D(0, 0, -50px);
	}
}

#main{
	padding: 20px 0;
	h1{
		text-align: center;
		margin-bottom: 40px;
	}
}

.logo{
	float: left;
	width: 80px;
	height: 80px;
	@include media ('<tablet') {
		float: none;
		margin: 0 auto;
	}
}

.home-holder{
	height: 100vh;
	text-align: center;
	padding: 10px 0;
	white-space:nowrap;
	min-height: 550px;
	background: url("../images/img1.jpg") center / cover;
	&:after{
		content:'';
		display:inline-block;
		height: 100vh;
		width:1px;
		overflow:hidden;
		margin:0 0 0 -5px;
		vertical-align:middle;
	}
	&>*{
		vertical-align:middle;
		display:inline-block;
		white-space:normal;
	}
	h1{
		color: $white;
		text-shadow: 2px 1px 1px rgba(240, 40, 40, 0.8);
		margin-bottom: 30px;
		@include media ('<tablet') {
			font-size: 30px;
		}
	}
}

.container{
	@extend %clearfix;
	max-width: 1380px;
	margin: 0 auto;
	padding: 0 15px;
}

